@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  // text-align: center;
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  .aaaa {
    margin-top: 200vh;
  }

  .header {
    padding: 0 120px;
    display: flex;
    align-items: center;
  }
  .main-banner {
    max-width: 160px;
    margin-top: 22px;
  }
  .main-nav {
    background-image:url(./assets/images/banner/borderNav.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 80%;
    display: flex;
    justify-content: center;

    &__list {
      display: flex;
      margin: 0 -34px;
    }
    &__item {
      padding: 24px 34px;
      font-size: 20px;
      font-weight: 500;
      position: relative;
      &::before {
        border-radius: 100%;
        box-shadow: 0 0 30px 12px  rgb(239 5 5 / 75%);
        -webkit-box-shadow: 0 0 30px 1 rgb(239 5 5 / 75%);
        -moz-box-shadow: 0 0 30px 12px  rgb(239 5 5 / 75%);
        content: "";
        display: inline-block;
        height: 0;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        transition: all .3s;
        width: 0;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  .header-social {
    &__list {
      display: flex;
      margin: 0 -15px;
    }
    &__item {
      padding: 0 15px;
    }
  }
  // .carousel-wrap {
  //   background-image: url(./assets/images/banner/bannerBg.png);
  //   height: 100vh;
  //   overflow: hidden;
  //   > img {
  //     position: relative;
  //     background: #fff;
  //     overflow: hidden;
  //     height: 500px;
  //     background-size: cover;
  //     background-repeat:   no-repeat;
  //     background-position: center center;
  //     width: 100%;
  //     -webkit-animation: 2s ease 0s normal forwards 1 fadeout;
  //     animation: 2s ease 0s normal forwards 1 fadeout;
  //   }
  // }

  .carousel {
    position: relative;
    overflow: hidden;
    /*height: 500px;*/
  }
  
  // .carousel img {
  //   width:100%; /* you can use % */
  //   height: 500px;
  // }
  
  
  .carousel-children {
    width: 100%;
    position: relative;
    height: 100vh;
    // padding-bottom: 56.25%;
  }
  
  .carousel-dots {
    z-index: 100;
    position: absolute;
    right: 80px;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34px;
  }
  
  .carousel-dot {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 0;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin: 5px 0;
    transition: all 0.3s;
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      height: 1px;
      width: 61px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      background: #ffffff;
      margin-left: 6px;
      opacity: 0;
      transition: all 0.3s;
    }
    &.active {
      width: 34px;
      height: 34px;
      background-color: #ffffff;
      &::after {
        opacity: 1;
      }
    }
  }
  
  .carousel-arrow {
    text-shadow: 1px 1px 1px #fff;
    z-index: 100;
    line-height: 500px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 10%;
    font-size: 3em;
    cursor: pointer;
    //z-index: 100;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
  }
  
  .carousel-next {
    left: 90%;
  }
  
  .carousel-prev {
    left: 0%;
  }
  
  #bg {
    position: relative;
    background: #fff;
    overflow: hidden;
    // height: 500px;
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100%;
    .container {
      z-index: 2;
      position: relative;
    }

    img {
      // width: 100%;
      // background: black;
      // background: #ccc;
      /*opacity: 0.5;*/
    }
  }

  .character-0 {
    position: absolute;
    right: 0;
    top: 130px;
    z-index: 1;
  }
  .mask-0 {
    position: absolute;
    right: 75px;
    bottom: -225px;
    z-index: 0;
  }

  .character-1 {
    position: absolute;
    right: 0;
    bottom: -40px;
    z-index: 1;
  }
  .mask-1 {
    position: absolute;
    right: 0;
    z-index: 0;
    bottom: -45px;
  }

  .character-2 {
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: 1;
  }
  .mask-2 {
    position: absolute;
    right: 0;
    z-index: 0;
    bottom: -100px;
  }

  .character-3 {
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: 1;
  }
  .mask-3 {
    position: absolute;
    right: 0;
    z-index: 0;
    bottom: -100px;
  }

  .title-banner {
    position: absolute;
    width: 849px;
    top:50%;
    transform: translateY(-50%);
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    left: 121px;
    color: white;

  }

  // @keyframes fadeout{
  //     0% { opacity:1; }
  //     66% { opacity:1; }
  //     100% { opacity:0; }
  // }

  // @-webkit-keyframes fadeout{
  //     0% { opacity:1; }
  //     66% { opacity:1; }
  //     100% { opacity:0; }
  // }
}
