@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Glitch;
  src: url("./assets/fonts/CF-Glitch-City-Regular.ttf") format('opentype');
}

body {
  overflow-x: hidden;
}

.App {
  // text-align: center;
  font-family: 'Roboto', sans-serif;
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  .wrap {
    background-image: url(./assets/images/banner/bannerBg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }

  .header {
    padding: 0 120px;
    display: flex;
    align-items: center;
  }
  .main-banner {
    max-width: 160px;
    margin-top: 22px;
  }
  .main-nav {
    background-image:url(./assets/images/banner/borderNav.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 80%;
    display: flex;
    justify-content: center;

    &__list {
      display: flex;
      margin: 0 -34px;
    }
    &__item {
      padding: 24px 34px;
      font-size: 20px;
      font-weight: 500;
      position: relative;
      &::before {
        border-radius: 100%;
        box-shadow: 0 0 30px 12px  rgb(239 5 5 / 75%);
        -webkit-box-shadow: 0 0 30px 1 rgb(239 5 5 / 75%);
        -moz-box-shadow: 0 0 30px 12px  rgb(239 5 5 / 75%);
        content: "";
        display: inline-block;
        height: 0;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        transition: all .3s;
        width: 0;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  .header-social {
    &__list {
      display: flex;
      margin: 0 -15px;
    }
    &__item {
      padding: 0 15px;
    }
  }
  // .carousel-wrap {
  //   background-image: url(./assets/images/banner/bannerBg.png);
  //   height: 100vh;
  //   overflow: hidden;
  //   > img {
  //     position: relative;
  //     background: #fff;
  //     overflow: hidden;
  //     height: 500px;
  //     background-size: cover;
  //     background-repeat:   no-repeat;
  //     background-position: center center;
  //     width: 100%;
  //     -webkit-animation: 2s ease 0s normal forwards 1 fadeout;
  //     animation: 2s ease 0s normal forwards 1 fadeout;
  //   }
  // }

  .carousel {
    position: relative;
    overflow-x: clip;
    /*height: 500px;*/
  }
  
  // .carousel img {
  //   width:100%; /* you can use % */
  //   height: 500px;
  // }
  
  
  .carousel-children {
    width: 100%;
    position: relative;
    height: 100vh;
    // padding-bottom: 56.25%;
  }
  
  .carousel-dots {
    z-index: 100;
    position: absolute;
    right: 80px;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34px;
  }
  
  .carousel-dot {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 0;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin: 5px 0;
    transition: all 0.3s;
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      height: 1px;
      width: 61px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      background: #ffffff;
      margin-left: 6px;
      opacity: 0;
      transition: all 0.3s;
    }
    &.active {
      width: 34px;
      height: 34px;
      background-color: #ffffff;
      &::after {
        opacity: 1;
      }
    }
  }
  
  .carousel-arrow {
    text-shadow: 1px 1px 1px #fff;
    z-index: 100;
    line-height: 500px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 10%;
    font-size: 3em;
    cursor: pointer;
    //z-index: 100;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
  }
  
  .carousel-next {
    left: 90%;
  }
  
  .carousel-prev {
    left: 0%;
  }
  
  #bg {
    position: relative;
    background: #fff;
    overflow-x: clip;
    // height: 500px;
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center top;
    height: 100%;
    .container {
      z-index: 2;
      position: relative;
    }

    img {
      // width: 100%;
      // background: black;
      // background: #ccc;
      /*opacity: 0.5;*/
    }
  }

  .character-0 {
    position: absolute;
    right: 0;
    bottom: -158px;
    z-index: 1;
    @media(max-width: 1700px){
      width: 1000px;
      bottom: -135px;
    }
    @media(max-width: 1400px){
      width: 850px;
      bottom: -95px;
    }
  }
  .mask-0 {
    position: absolute;
    right: 75px;
    bottom: -225px;
    z-index: 0;
    @media(max-width: 1700px){
      width: 1330px;
    }
    @media(max-width: 1400px){
      width: 1200px;
      right: 50px;
      bottom: -200px;
    }
  }

  .character-1 {
    position: absolute;
    right: 0;
    bottom: -40px;
    z-index: 1;
    @media(max-width: 1700px){
      width: 1000px;
      right: -25px;
    }
    
    @media(max-width: 1600px){
      right: -44px;
    }

    @media(max-width: 1400px){ 
      width: 850px;
    }
  }
  .mask-1 {
    position: absolute;
    right: -160px;
    z-index: 0;
    bottom: -465px;
    @media(max-width: 1700px){
      width: 1200px;
      bottom: -380px;
      right: -102px;
    }
    @media(max-width: 1400px){ 
      width: 950px;
      bottom: -290px;
      right: -65px;
    }
  }

  .character-2 {
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: 1;
    @media(max-width: 1700px){
      width: 1000px;
      bottom: -25px;
    }
    @media(max-width: 1400px){ 
      width: 850px;
    }
  }
  .mask-2 {
    position: absolute;
    right: -160px;
    z-index: 0;
    bottom: -515px;
    @media(max-width: 1700px){
      width: 1200px;
      right: -80px;
      bottom: -355px;
    }
    @media(max-width: 1400px){ 
      width: 950px;   
      bottom: -265px;
      right: -25px;
    }
  }

  .character-3 {
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: 1;
    @media(max-width: 1700px){
      width: 1000px;
      bottom: -55px;
    }
    @media(max-width: 1400px){ 
      width: 850px;
      bottom: -20px;
    }
  }
  .mask-3 {
    position: absolute;
    right: -160px;
    z-index: 0;
    bottom: -515px;
    @media(max-width: 1700px){
      width: 1200px;
      right: -125px;
      bottom: -390px;
    }
    @media(max-width: 1400px){ 
      width: 850px;
      bottom: -225px;
      right: 5px;
    }
  }

  .title-banner {
    position: absolute;
    width: 1000px;
    top:50%;
    transform: translateY(-50%);
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    left: 121px;
    color: white;
    margin-top: -100px;
    z-index: 2;
    @media(max-width: 1700px){
      width: 800px;
    }
    @media(max-width: 1600px){
      width: 700px;
    }
    @media(max-width: 1400px){
      margin-top: -170px;
    }
  }

  // @keyframes fadeout{
  //     0% { opacity:1; }
  //     66% { opacity:1; }
  //     100% { opacity:0; }
  // }

  // @-webkit-keyframes fadeout{
  //     0% { opacity:1; }
  //     66% { opacity:1; }
  //     100% { opacity:0; }
  // }
}

.border-top-title {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    background: linear-gradient(89.76deg, #A60000 5.4%, #FF0000 126.87%);
    height: 8px;
    width: 49px;
  }
  &__custom {
    padding-top: 10px;
    &::before {
      top: 0;
    }
  }
}

.border-bottom-title-left, .border-bottom-title-right {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: block;
    background: linear-gradient(89.76deg, #A60000 5.4%, #FF0000 126.87%);
    height: 8px;
    width: 158px;
  }
}

.border-bottom-title-right {
  &::after {
    right: 0;
  }
}

.founder {
  .ava {
    padding: 4px;
    background-image: linear-gradient(133.59deg, #828282 52.2%, rgba(142, 0, 0, 0) 92.08%);
    border-radius: 50%;
    transition: all 0.5s;
    img {
      -webkit-filter: grayscale(0.5);
      filter: grayscale(0.5);
    }
  }  
  .title {
    position: relative;
    font-size: 36px;
    color: #E3E3E3;
    &::after {
      content: "";
      position: absolute;
      display: block;
      background: linear-gradient(89.76deg, #A60000 5.4%, #FF0000 126.87%);
      height: 3px;
      width: 49px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .name {
    font-size: 28px;
    color: #969696;
  }
  
  &:hover {
    cursor: pointer;
    .ava {
      background-image: linear-gradient(133.59deg, #9D0000 52.2%, rgba(142, 0, 0, 0) 92.08%);
      filter: drop-shadow(0px 0px 17px rgba(255, 0, 0, 0.99));
      img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
    .name {
      color: #ffffff
    }
  }
}

.member {
  position: relative;
  margin-bottom: 44px;
  .ava {
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    position: relative;
    background-image: url('./assets/images/team/bg-member.png');
    background-position: center;
    background-repeat: no-repeat;
    &::before {
      content: "";
      position: absolute;
      top: -1px;
      bottom: 20px;
      width: 135px;
      border: 1px solid transparent;
      border-radius: 11px;
      transition: all 0.5s;
    }
    img {
      -webkit-filter: grayscale(0.5);
      filter: grayscale(0.5);
    }
  }  
  .title {
    position: absolute;
    font-size: 23px;
    background: linear-gradient(96.88deg, #B90000 -1.28%, #710000 93.7%);
    left: -11px;
    right: -11px;
    bottom: 44px;
    min-height: 44px;
    color: #CECECE;
    border-radius: 3px;    
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    line-height: 27px;
  }
  .name {
    font-size: 23px;
    color: #CECECE;
  }
  
  &:hover {
    cursor: pointer;
    .ava {
      &::before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: 20px;
        width: 135px;
        background-image: linear-gradient(133.59deg, #9D0000 52.2%, rgba(142, 0, 0, 0) 92.08%);
        filter: drop-shadow(0px 0px 17px rgba(255, 0, 0, 0.99));
        border: 1px solid #FF0000;
        border-radius: 11px;
      }
      img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
    .name {
      color: #ffffff
    }
  }
}

.bg-smoke {
  position: relative;
  &::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-image: url('./assets/images/team/smoke-bg.png');
  }
}

.service {
  .right-side {
    @media (max-width: 1600px) {
      position: unset;
      padding-left: 92px;
      padding-top: 10px;
    }
    .text-top {
      @media (max-width: 1600px) {
        margin-left: 0;
        margin-bottom: 20px;
      }
    }
    .text-middle {
      @media (max-width: 1850px) {
        width: 400px;
      }
      @media (max-width: 1600px) {
        width: 600px;
      }
    }
    .bottom {
      @media (max-width: 1850px) {
        margin-left: 100px;
      }
      @media (max-width: 1600px) {
        margin-left: 0;
      }
    }
  }
}

.border-top-title-left {
  &::before {
    top: 0;
    left: 0;
  }
}

footer {
  .contact-form {
    background-image: url("./assets/images/footer/form-message-bg.png");

    .form-title {
      position: absolute;
      top: -60px;
      left: 0px;
      font-weight: 400;
      font-size: 33px;
      line-height: 30px;
      color: #828282;

      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        display: block;
        width: 158px;
        height: 5px;
        background: linear-gradient(89.76deg, #A00000 5.4%, #FF0000 126.87%);
      }
    }

    .form-btn {
      &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 15px;
        display: block;
        width: 231px;
        height: 4px;
        background: linear-gradient(89.76deg, #A00000 5.4%, #FF0000 126.87%);
      }

      &:active {
        transform: translateY(2px);
      }

      width: 311px;
      height: 52px;
      position: absolute;
      bottom: 28px;
      right: 33px;
      background: url("./assets/images/footer/send-message-btn.png");

      font-style: italic;
      font-weight: 500;
      font-size: 34px;
      line-height: 30px;
      color: #3C3C3C;
    }
    
    .input-border {
      margin-bottom: 12px;
      padding-bottom: 7px; 
      border-bottom: 1px solid #CFCFCF;
    }
  }
  .form-background-linear {
    position: absolute;
    bottom: 58px;
    right: 124px;
    @media (max-width: 1700px) {
      right: 10px;
    }
    background: linear-gradient(113.84deg, #730000 3.88%, #1D0000 99.55%);
    box-shadow: 5px 6px 4px rgba(104, 0, 0, 0.25);
  }
}

.get-in-touch {
  background-image: url("./assets/images/get-in-touch/background.png"), url("./assets/images/get-in-touch/background.png");
  background-repeat: no-repeat, no-repeat;
  background-position: -10px 0px, -10px 100px;
  z-index: 3;
  
  .contact-text {
    @media (max-width: 1646px) {
      width: 510px;
    }
    @media (max-width: 1417px) {
      width: 400px;
    }
  }
}

.desports {
  position: relative;
  top: -115px;
  z-index: 2;
  background: url("./assets/images/desport/desports.png");
  background-repeat: no-repeat;
  .desports-btn {
    text-align: left;
    color: #FFFFFF;
    height: 55px;
    position: absolute;
    bottom: 200px;
    z-index: 1;

    &::after {
      -webkit-transition: all 1.5s;
      transition: all 1.5s;
      content: "";
      position: absolute;
      bottom: 0;
      left: -18px;
      width: 330px;
      height: 55px;
      clip-path: polygon(28px 5px, 97.13% 5px, 93.58% 83.64%, 16px 83.64%);
      z-index: -1;
    }

    &:active {
      transform: translateY(0.5px);
    }

    &:hover {
      &::after {
        background-color: #AA65B8;
      }
    }

    .btn-content {
      position: absolute;
      bottom: 15px;
      left: 22px;
      display: inline;
    }
  }
}

.products {
  background-image: url("./assets/images/products/background-2.png"), url("./assets/images/products/background-1.png");
  background-position: 0px 105px, 0px -100px;
  background-repeat: no-repeat, no-repeat;
  z-index: 1;

  .characters-bg {
    background-image: url("./assets/images/products/characters-bg.png");
    background-repeat: no-repeat;
    height: 100%;
    margin-left: -120px;
  }

  .red-rectangle {
    background-image: url("./assets/images/products/red-rectangle.png");
    background-repeat: no-repeat;
    width: 1325px;
    height: 373px;
    position: absolute;
    top: 350px;
    left: 440px;
    @media (max-width: 1780px) {
      left: 10%;
    }
    @media (max-width: 1490px) {
      left: 0%;
    }
  }

  .hero {
    background-image: url("./assets/images/products/hero.png");
    background-repeat: no-repeat;
    width: 925px;
    height: 888px;
    position: absolute;
    top: 195px;
    left: 515px;
    @media (max-width: 1780px) {
      left: 30%;
    }
    @media (max-width: 1490px) {
      left: 20%;
    }
  }

  .products-btn-container {
    position: absolute;
    top: 375px;
    right: 0 ;
    width: 350px;
    height: 250px;
    @media (max-width: 1600px) {
      top: 730px;
    }
  }

  .products-btn {
    text-align: left;
    color: #FFFFFF;
    height: 55px;
    position: absolute;
    z-index: 1;

    &::after {
      -webkit-transition: all 1.5s;
      transition: all 1.5s;
      content: "";
      position: absolute;
      bottom: 0;
      left: -18px;
      width: 330px;
      height: 55px;
      z-index: -1;
    }

    &.mech-btn {
      &::after {
        clip-path: polygon(27px 6px, 85.52% 5px, 81.76% 83.64%, 15px 85.46%);
      }
    }

    &.testnet-mech-btn {
      &::after {
        clip-path: polygon(27px 6px, 98.55% 5px, 94.79% 85.46%, 15px 85.46%);
      }
    }

    &:active {
      transform: translateY(0.5px);
    }

    &:hover {
      &::after {
        background-color: #e63232;
      }
    }

    .btn-content {
      position: absolute;
      bottom: -20px;
      left: 22px;
      display: inline;
    }
  }
}

.font-glitch {
  font-family: Glitch;
}

.bg-pilot {
  position: relative;
  &::before {
    z-index: -1;
    content: "";
    bottom: 80px;
    left: 0;
    height: 489px;
    width: 457px;
    position: absolute;
    background-image: url('./assets/images/master/pilot.png');
  }
}

@keyframes fadeOut {
  0% {opacity: 1;}
  30% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 3s;
  animation-fill-mode: both;
}